[submodule "server"]
	path = server
	url = git@github.com:cakmakfatih/chattered-server.git
[submodule "mobile"]
	path = mobile
	url = git@github.com:cakmakfatih/chattered-client.git
[submodule "background"]
	path = background
	url = git@github.com:cakmakfatih/chattered-background.git
